<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" class="container">
    <div class="users question header">
        <h3 th:text="'내가 푼 문제들 / ' + ${question.getTitle}"
            th:data-question_title="${question.getTitle}"
            class="title"
        />
        <div>
            <a th:href="${question.getLink('self').get().getHref()} + '/forms/update'"><button type="button" class="btn btn-primary">수정</button></a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</button>
        </div>
        <th:block th:replace="users/questions/detail/deleteModal :: deleteModal"></th:block>
    </div>
</header>

</html>