.signup {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
}

.signup .form-group {
    margin-top: 30px;
}

.signup > *{
    width: 100%;
    max-width: 400px;
}

.signup > h2, .signup > p {
    text-align: center;
}

hr.remember-signup-separator {
    margin: 30px;
}

.signup button, .signup a {
    width: 100%;
    margin-top: 30px;
}

p.remember-signup-title {
    opacity: 0.6;
    margin-bottom: 0;
}
