<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <form th:action="${create_link}" method="post">
        <div class="form-group">
            <label th:for="title">문제 이름</label>
            <input type="text" name="title" class="form-control" placeholder="예: N-Queen" id="title">
        </div>
        <div class="form-group">
            <label th:for="link">문제 링크</label>
            <input type="text" name="link" class="form-control" placeholder="문제 링크 입력" id="link">
        </div>
        <div class="form-group">
            <label th:for="level">난이도</label>
            <input type="number" name="level" class="form-control" placeholder="난이도 입력" id="level">
        </div>
        <div class="form-group">
            <label th:for="platform">플랫폼</label>

            <select name="platform">
                <option th:each="platform : ${platforms}"
                        th:value="${platform.getLink('self').get().getHref()}"
                        th:utext="${platform.getName}"
                />
            </select>
        </div>
        <div class="form-group">
            <label th:for="practiceStatus">풀이여부</label>
            <select name="practiceStatus">
                <option th:each="status : ${practiceStatusus}"
                        th:value="${status.getLink('self').get().getHref()}"
                        th:utext="${status.getStatus()}"
                />
            </select>
        </div>
        <div class="form-group">
            <label for="algorithms">알고리즘</label>
            <select multiple class="form-control" id="algorithms" name="algorithms">
                <option th:each="algorithm : ${algorithms}"
                        th:value="${algorithm.getLink('self').get().getHref()}"
                        th:utext="${algorithm.getName}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>
