<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <form th:action="${question.getLink('self').get().getHref()}" method="post">
        <input type="hidden" name="_method" value="PUT"/>
        <div class="form-group">
            <label th:for="title">문제 이름</label>
            <input type="text" name="title" class="form-control" placeholder="예: N-Queen" th:value="${question.getTitle}">
        </div>
        <div class="form-group">
            <label th:for="link">문제 링크</label>
            <input type="text" name="link" class="form-control" placeholder="문제 링크 입력" th:value="${question.getLink}">
        </div>
        <div class="form-group">
            <label th:for="level">난이도</label>
            <input type="number" name="level" class="form-control" placeholder="난이도 입력" th:value="${question.getLevel}">
        </div>
        <div class="form-group">
            <label th:for="platform">플랫폼</label>

            <select name="platform">
                <option th:each="platform : ${platforms}"
                        th:value="${platform.getLink('self').get().getHref()}"
                        th:utext="${platform.getName}"
                        th:selected="${platform eq question.getPlatform}"
                />
            </select>
        </div>
        <div class="form-group">
            <label th:for="practiceStatus">풀이여부</label>
            <select name="practiceStatus">
                <option th:each="status : ${practiceStatusus}"
                        th:value="${status.getLink('self').get().getHref()}"
                        th:utext="${status.getStatus()}"
                        th:selected="${status eq question.getPracticeStatus}"
                />
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>
