<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="success" class="container">
    <div th:if="${success}">
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
            <div th:text="${success.getMessage()} + ' '">
            </div>
            <a th:if="${success.getLink()}"
               th:href="${success.getLink()}"
               th:text="${success.getLink()}"/>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
</html>
