<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
  <div class="container">
    <h2 th:text="${question.getTitle}"/>
    <h2 th:text="${question.getLink}"/>
    <h2 th:text="${question.getLevel}"/>
    <h2 th:text="${question.getPlatform.getName}"/>
    <h2 th:text="${question.getPracticeStatus.getStatus}"/>
    <h3 th:each="algo: ${question.algorithms}" th:text="${algo.name}"/>
  </div>
</div>
</html>
