<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/static/js/users/questions/list.js}"></script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/static/css/users/questions/list.css}"/>
</th:block>

<div layout:fragment="content" class="users questions root" th:data-questions-url="${questions_url}">
    <div class="container">
        <th:block th:replace="users/questions/list/search :: search"></th:block>
        <table class="table datas">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">상태</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="q: ${questions.content}"
                        th:data-uri="${q.getLink('self').get().getHref()}"
                        class="question"
                        th:classappend="${q.getId()}"
                >
                        <td th:text="${q.getTitle}"></td>
                        <td th:text="${q.getLink}"></td>
                        <td th:text="${q.getPlatform}"></td>
                        <td>
                            <select class="selectpicker"
                                    data-width="100px"
                                    th:data-question="${q.getLink('self').get().getHref()}"
                                    th:data-status="${q.getPracticeStatus.getLink('self').get().getHref()}"
                            >
                                <option
                                        th:data-content="${
                                            '<span class=''badge'''
                                            + 'style=''background-color: ' + s.getColor() + ''';''>'
                                            + s.getStatus() + '</span>'}"
                                        th:each="s: ${practiceStatusus}"
                                        th:value="${s.getLink('self').get().getHref()}"
                                        th:selected="${s.getId() eq q.getPracticeStatus.getId}">
                                </option>
                            </select>
                        </td>
                    </tr>
                </tr>
            </tbody>
        </table>

        <th:block th:replace="users/questions/list/paginator :: paginator"></th:block>
    </div>
</div>

</html>
