<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="css">
    <link th:href="@{/static/css/auth/forms/signup.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content" class="container signup">
    <h2>회원가입</h2>
    <div class="social">
        <a th:href="@{/oauth2/authorization/google}"
           class="btn btn-success active"
           role="button">
            구글 계정으로 회원가입
        </a>
    </div>
    <hr class="my-12 remember-signup-separator"/>
    <p class="remember-signup-title">리멤버 계정 만들기</p>
    <form th:action="@{/auth/signup}" method="post">
            <div class="form-group">
                <label th:for="username">이메일</label>
                <input type="text" name="username" class="form-control" placeholder="이메일 입력해주세요">
            </div>
            <div class="form-group">
                <label th:for="password">비밀번호</label>
                <input type="password" class="form-control" name="password" placeholder="비밀번호">
            </div>
            <div class="form-group">
                <label th:for="matchingPassword">비밀번호 재입력</label>
                <input type="password" class="form-control" name="matchingPassword" placeholder="비밀번호">
            </div>
<!--            <div class="form-group">-->
<!--                <label th:for="nickname">닉네임</label>-->
<!--                <input type="password" class="form-control" name="nickname" placeholder="비밀번호">-->
<!--            </div>-->
            <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>
