html, body {
    height: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

.alert {
    margin-top: 30px;
}

button.logout-button {
    text-decoration: none;
    color: black;
}
