html, body {
    min-height: 100vh;
}

body {
    padding-top: 4.5rem;
}

footer {
    display: flex;
    justify-content: end;

    position: sticky;
    top: 100vh;
    width: 100%;
    color: black;
    text-align: center;

    padding: 20px;
    color: #ccc;
    background-color: #f2f2f2;
}

footer p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.alert {
    margin-top: 30px;
}

button.logout-button {
    text-decoration: none;
    color: black;
}

nav.layout-nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
