<!DOCTYPE html>

<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- config fragment 사용 -->
<th:block th:replace="layout/config :: configFragment" ></th:block>

<head>
    <meta charset="UTF-8" />
    <title>Remember</title>
</head>

<!-- header fragment 사용 -->
<th:block th:replace="layout/header :: headerFragment"></th:block>

<!-- error fragment 사용 -->
<th:block th:replace="layout/error :: error"></th:block>

<!-- success fragment 사용 -->
<th:block th:replace="layout/success :: success"></th:block>

<!--
    content fragment 사용
    현재 layout을 사용하는 content fragment의 내용을 삽입한다.
-->
<th:block layout:fragment="content"></th:block>

<!-- footer fragment 사용 -->
<th:block th:replace="layout/footer :: footerFragment"> </th:block>

</html>
