<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="createModal" class="modal fade users questions create-modal"
     id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
>
    <div class="modal-dialog">
        <form th:action="${questions_url}" method="post">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">새로운 문제 추가하기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label th:for="title">문제 이름</label>
                        <input type="text" name="title" class="form-control" placeholder="예: N-Queen" id="title">
                    </div>
                    <div class="form-group">
                        <label th:for="link">문제 링크</label>
                        <input type="text" name="link" class="form-control" placeholder="문제 링크 입력" id="link">
                    </div>
                    <div class="form-group">
                        <label th:for="platform">플랫폼</label>
                        <select class="selectpicker"
                                data-width="100px"
                                name="platform"
                        >
                            <option
                                    th:each="platform: ${platforms}"
                                    th:data-content="${platform.getName}"
                                    th:value="${platform.getLink('self').get().getHref()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label th:for="practiceStatus">풀이여부</label>

                        <select class="selectpicker"
                                data-width="100px"
                                name="practiceStatus"
                        >
                            <option
                                    th:each="s: ${practiceStatusus}"
                                    th:data-content="${
                                            '<span class=''badge'''
                                            + 'style=''background-color: ' + s.getColor() + ''';''>'
                                            + s.getStatus() + '</span>'}"
                                    th:value="${s.getId()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label th:for="algorithms">알고리즘</label>
                        <select class="selectpicker"
                                data-width="100px"
                                name="algorithms"

                                multiple
                        >
                            <option
                                    th:each="algorithm : ${algorithms}"
                                    th:data-content="${algorithm.getName}"
                                    th:value="${algorithm.getLink('self').get().getHref()}">
                            </option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary">생성</button>
            </div>
        </form>
        </div>
    </div>
</div>
</html>
