<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="paginator" class="paginator container">
    <ul class="pagination"
        th:with="start=${questions.getMetadata().getNumber()},
                         totalPages=${questions.getMetadata().getTotalPages()},
                         last=${start + 9 < totalPages ? start + 9 : totalPages - 1},
                         base=${questions.getLink('self').get().getHref()},
                         prev=${questions.getLink('prev')},
                         next=${questions.getLink('next')},
                         urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
    >

        <li class="page-item" th:class="${prev.isEmpty()} ? 'disabled'">
            <a class="page-link" th:href="${prev.isEmpty() ? '#' : prev.get().getHref()}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li class="page-item"
            th:if="${last != -1}"
            th:each="page: ${#numbers.sequence(start, last)}"
            th:class="${page == start} ? 'active'"
        >
            <a class="page-link"
               th:href="${urlBuilder.replaceQueryParam('page', page).toUriString()}"
               th:text="${page+1}"></a>
        </li>

        <li class="page-item" th:class="${next.isEmpty()} ? 'disabled'">
            <a class="page-link" th:href="${next.isEmpty() ? '#': next.get().getHref()}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>