<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="search" class="container">
  <div class="users questions search">
    <th:block th:replace="users/questions/list/searchBar :: searchBar"></th:block>
    <div class="options">
      <div class="practiceStatus">
        <select class="selectpicker"
                data-width="130px"
        >
          <option th:data-content="${
                                            '<span class=''badge'''
                                            + 'style=''background-color: black;''''>'
                                            + '모든 상태' + '</span>'}"
                  value="0"
                  th:selected="${search_status eq 0}"
          >
          </option>
          <option
                  th:data-content="${
                                            '<span class=''badge'''
                                            + 'style=''background-color: ' + s.getColor() + ''';''>'
                                            + s.getStatus() + '</span>'}"
                  th:each="s: ${practiceStatusus}"
                  th:selected="${search_status eq s.getId()}"
                  th:value="${s.getId()}">
          </option>
        </select>
      </div>
    </div>
  </div>
</nav>

</html>
